@charset "utf-8";

/*banner*/

.banner {
    width: 100%;
    min-width: 1200px;
    height: 551px;
    position: relative;
    padding-top: 90px;
    overflow: hidden;
}

.banner .unslider {
    width: 1920px;
    position: relative;
    left: 50%;
    top: 0;
    margin-left: -960px;
}

.banner-text {
    position: absolute;
    top: -538px;
    width: 518px;
    height: 350px;
    right: -143px;
    background: #071d55;
    z-index: 999;
    padding-top: 22px;
    opacity: 0;
}

.banner-text p {
    font-size: 13px;
    color: #fff;
    width: 474px;
    margin-left: auto;
    margin-right: auto;
    line-height: 21px;
}

.main {
    margin-top: 127px;
    margin-bottom: 80px;
}

.main .view {
    width: 810px;
    margin: 0 auto;
    position: relative;
}

.main .view h1 {
    text-align: center;
    font-size: 42px;
    color: #001751;
}

.main .main-bg {
    margin-top: 43px;
    width: 810px;
    height: 491px;
    background: url('../../img/record/main_TAB_bg.png') no-repeat center;
}

.main .foot {
    position: absolute;
    bottom: 0px;
}

.main .foot .tab {
    background: #fff;
    width: 224px;
}

.main .foot .tab li:first-child {
    margin-left: 0px;
}

.main .foot .tab li.tab-on {
    background: #ee7700;
    color: #fff;
}

.main .foot .tab li {
    float: left;
    width: 74px;
    height: 27px;
    line-height: 27px;
    margin-left: 1px;
    background: #edcaa6;
    font-size: 13.11px;
    text-align: center;
    color: #44454c;
    cursor: pointer;
}

.main .foot .tab-view {
    height: 98px;
    background: #ee7700;
    color: #fff;
    padding-left: 15px;
    padding-right: 16px;
    padding-top: 15px;
}

.main .foot .tab-view h5 {
    font-size: 16.63px;
}

.main .foot .tab-view p {
    margin-top: 10px;
    font-size: 12.47px;
    height: 45PX;
    overflow-y: auto;
}

.main .foot .tab-view p::-webkit-scrollbar {
    width: 9px;
}

.main .foot .tab-view p::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 3px 3px 3px 3px;
}

.main .foot .tab-view p::-webkit-scrollbar-thumb {
    background-color: #edcaa6;
    border-radius: 3px 3px 3px 3px;
}